* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: $bg-color-black;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}