.header {
    background-color: $bg-color-black;
}

.grid {

    .logo {
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-item a {
            display: block;
            text-decoration: none;
            color: $color-white;
            font-size: 13px;
            font-weight: 400;
            border: 2px solid $bg-color-black;
            border-radius: 10px;
            padding: 10px;
        }

        .menu-item a:hover {
            color: $bg-color-black;
            border: 2px solid $color-white;
            background-color: $color-white;
        }
    }
}

/* tablet => sm 768px */
@media(min-width:768px) {
    .container {
        max-width: 720px;
    } 
}

/* laptop => md 992px */
@media(min-width:992px) {
    .container {
        max-width: 960px;

        .grid {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;

            .logo {
                text-align: left;
            }
        }
    }
}

/* desktop => lg 1200px */
@media(min-width:1200px) {
    .container {
        max-width: 1150px;

        
    }
}

/* only mobile <= 767px */
@media(max-width: 768px) {
    .menu {
        overflow-x: scroll;
    }
}